@charset "utf-8";
.Empty_butter_cabbage {
	width: 1190px;
	margin: 0 auto;
	padding: 10px 0;
	font-size:16px;
}
.Empty_butter_cabbage a {
	display: inline-block;
	color: #333;
}
.Empty_butter_cabbage a:hover {color: #782d10;}
.Empty_careless_ball {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}
.Empty_cabinet_calculate {
	float: right;
	width: 670px;
	padding: 20px 70px;
}
*+html .Empty_cabinet_calculate {
	width: 650px;
}
.Empty_cabinet_calculate h3 {
	line-height: 115%;
	font-size: 26px;
	color: #333;
	text-align: center;
	margin-bottom: 2%;
}
.Empty_cabinet_calculate p {
	color: #999;
	font-size: 14px;
	line-height: 214%;
	text-indent: 30px;
}
.Empty_deceive_deck {
	float:left;
	width: 518px;
	background: #fff;
	margin-top:20px;
	border: #e0e0e0 solid 1px;
}
.getcc{
	width:1200px;
	margin:0 auto;
	height:505px;
}
#here{
    font-size: 16px;
    font-weight: bold;
    border-left: #6f2319 solid 3px;
    padding-left: 9px;
    margin-left: 30px;
    margin-top:20px;
    margin-bottom:20px;
}
.Empty_deceive_deck .topic {font-weight:700;}
/*.Empty_deceive_deck ul li {
	float: left;
	padding: 30px 44px;
}*/
.Empty_deceive_deck ul li h3{ font-size:14px; color:#333;padding-bottom:10px;}
.Empty_deceive_deck ul li.Empty_deceive_one {width: 450px;padding-left:30px;}
.Empty_deceive_deck ul li.Empty_deceive_one .Empty_dece_one{ display:inline-block; width:56px;}
.Empty_deceive_deck ul li.Empty_deceive_two {width:420px;padding-left:30px;padding-top:20px;padding-bottom:20px;}
.Empty_deceive_deck ul li.Empty_deceive_two .Empty_dece_one{ display:inline-block; width:84px;}
.Empty_deceive_deck ul li span {
	color: #3bf;
	line-height: 36px;
}
.Empty_deceive_deck ul li a {
	color: #333;
	margin-left: 15px;
	line-height: 36px;
}
.Empty_deceive_deck ul li a:hover {
	color: #3bf;
}
.Empty_declare_deduce {
	margin: 0 auto;
	width: 1000px;
}
.Empty_declare_deduce h3 {
	font-size: 26px;
	color: #333;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 15px;
}
.Empty_declare_deduce_upstair {
	width: 520px;
}
.Empty_declare_deduce_upstair .box2{
	margin-top:20px;
	border: #e0e0e0 solid 1px;
}
.Empty_declare_deduce_upstair h4{
	font-size: 16px;
    font-weight: bold;
    border-left: #6f2319 solid 3px;
    padding-left: 9px;
    margin-left: 30px;
    margin-top:20px;
}
.Empty_declare_deduce_upstair h4,
.Empty_declare_deduce_upstair .topic,
.Empty_declare_deduce_downstair .topic,
.Empty_complain_daughter .topic{font-weight:700}
.Empty_declare_deduce_upstair ul li.deduce_up_one {
	color: #333;
	background: #E6E6E6;
}
.Empty_declare_deduce_upstair ul li.deduce_up_two {
	color: #999;
}
.Empty_declare_deduce_upstair ul li.deduce_up_two a,#slP a{color:#999}
.Empty_declare_deduce_upstair h2 {
	font-size: 26px;
	color: #666;
	margin-top: 50px;
	margin-bottom: 10px;
}
.Empty_declare_deduce_downstair {
    float:right;
	width: 603px;
	padding: 37px 0 37px 40px;
	background: #fff;
	margin-top:-1432px;
	border: #e0e0e0 solid 1px;
}
#nowinquiry{
	font-size: 16px;
    font-weight: bold;
    border-left: #6f2319 solid 3px;
    padding-left: 9px;
    margin-left: 30px;
    margin-top:20px;
}
.Empty_declare_deduce_downstair p,
.Empty_declare_deduce_downstair input,
.Empty_declare_deduce_downstair textarea{
	-webkit-border-radius:7px;
	border-radius:7px;
}
.Empty_declare_deduce_downstair ul{top:30px!important}
.Empty_declare_deduce_downstair p .cap_deduce_one {
	font-size: 18px;
	color: #333;
}
.Empty_declare_deduce_downstair p .cap_deduce_two {
	font-size: 12px;
	color: #0af;
	margin-left: 10px;
}
.Empty_declare_deduce_downstair p.cap_deduce_downstair_two {
	color: #999;
	line-height: 143%;
	padding-top: 10px;
}
.mat-pr-box h4{
	font-size: 16px;
    font-weight: bold;
    border-left: #6f2319 solid 3px;
    padding-left: 9px;
    margin-left: 30px;
    margin-top:10px;
    margin-bottom:10px;
}
#magnetsPriceScroll{
	height:285px;
}
.box2 .s-a-d dt{
	font-size: 16px;
    font-weight: bold;
    border-left: #6f2319 solid 3px;
    padding-left: 9px;
    margin-left: 30px;
    margin-top:20px;
    margin-bottom:20px;
}
.Empty_complain_daughter h4{
	font-size: 16px;
    font-weight: bold;
    border-left: #6f2319 solid 3px;
    padding-left: 9px;
    margin-left: 30px;
    margin-top:20px;
}
.cap_deduce_downstair_three {
	width: 126px;
	height: 29px;
	color: #000;
	line-height: 29px;
	margin-bottom: 30px;
}
.cap_deduce_downstair_three span {
	font-size: 12px;
	color: #FF0000;
	padding-right: 5px;
	padding-left: 10px;
}
/* select */
.Empty_declare_communication {
	width: 395px;
	margin-left: 70px;
	margin-bottom: 22px;
	height: 30px;
	color:#333;
}
.Empty_declare_communication_one {
	width: 350px;
	margin-left: 70px;
	margin-bottom: 20px;
}
.Empty_declare_communication_one .Empty_declare_compel {
	float: left;
	width:265px;
	line-height: 20px;
	color: #999;
}
.Empty_declare_communication_three input{color: #999;}
.Empty_declare_communication_one span {
	color: #333;
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
}
.Empty_declare_compel label {
	width: 140px;
	display: inline-block;
}
#gylxDiv label,#cplxDiv label,#ccfxDiv label{
	width : 130px;
	display: inline-block;
	color:#333;
}
.label_compel_one {margin-right: 5px;}
.Empty_declare_communication span {
	color: #333;
	float: left;
	height: 30px;
	line-height: 30px;
}
.Empty_company_compare {
	width: 310px;
	float: right;
}
.Empty_company_compare p,
.Empty_company_compare_three p,
.Empty_company_compare_one p{
	background:#fff url(http://img1.emkex.com/lu/cn/new/style/c_images/magnet14.png) no-repeat;
}
.Empty_company_compare p {
	width: 253px;
	color: #999;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #CBCBCB;
	background-position: 240px 14px;
	cursor: pointer;
}
.Empty_declare_communication_two {
	width: 340px;
	margin-left: 70px;
	margin-bottom: 20px;
	height: 50px;
}
.Empty_declare_communication_two span {
	font-size: 14px;
	color: #333;
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
}
.Empty_declare_communication_two b {
	font-weight: normal;
	color: #f00;
	font-size: 12px;
	margin-left: 60px;
}
.Empty_inputstyle {
	width: 190px;
	height: 30px;
	border: 1px solid #CBCBCB;
	border-right: medium none;
	float: left;
	line-height: 30px;
	padding-left: 10px;
	border-radius:7px 0 0 7px!important;
}
.Empty_company_compare_one {
	float: left;
	width: 55px;
	color:#999;
}
.Empty_company_compare_one p {
	width: 53px;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #CBCBCB;
	background-position: 40px 14px;
	color: #999;
	cursor: pointer;
}
.Empty_company_compare_one ul {
	border: 1px solid #CBCBCB;
	z-index: 8;
	border-top: medium none;
	position: absolute;
	display: none;
	background: #fff;
}
.Empty_company_compare_one ul li {
	width: 53px;
	padding-left: 10px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background: #fff;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #999;
}
.Empty_company_compare_one ul li:hover {
	background: #dadada;
}
.Empty_declare_communication_three {
	width: 500px;
	margin-left: 70px;
	margin-bottom: 20px;
	height: 50px;
}
.Empty_declare_communication_three span {
	font-size: 14px;
	color: #333;
	display: block;
	float: left;
	height: 30px;
	line-height: 60px;
}

.Empty_guigediv .Empty_declare_dz {
	float: left;
	display: inline-block;
	height: 30px;
	margin-top: 5px;
}
.Empty_guigediv .Empty_declare_dz input {
	height: 30px;
	line-height: 30px;
	margin: 0;
	width: 40px;
	border: 1px solid #CBCBCB;
	text-align: center;
	color: #333;
}
.Empty_guigediv .Empty_declare_gc {
	display: block;
	height: 20px;
	text-align: center;
	width: 40px;
	margin: 0;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid #CBCBCB;
	font-size: 12px;
	color: #999;
}
.Empty_guigediv .Empty_declare_first {
	margin-bottom: 1px;
}
.Empty_declare_communication_four {
	width: 400px;
	margin-left: 30px;
	margin-bottom: 20px;
	height: 31px;
}
.Empty_declare_communication_four span {
	display: inline-block;
	float: left;
	width: 120px;
	text-align: right;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #333;
}
.label_declare_one {
	width: 265px;
	height: 30px;
	line-height: 30px;
	float: left;
	border: 1px solid #CBCBCB;
}
.Empty_declare_communication_five {
	margin-left: 30px;
	margin-bottom: 20px;
	height: 30px;
}
.Empty_declare_communication_five span {
	font-size: 14px;
	color: #333;
	display: block;
	float: left;
	height: 30px;
	width: 120px;
	text-align: right;
	line-height: 30px;
}
.Empty_declare_communication_five a {
	font-size: 14px;
	color: #999;
	height: 30px;
	line-height: 30px;
}
.Empty_declare_communication_three b {
	font-weight: normal;
	color: #FF0000;
	font-size: 12px;
	margin-left: 60px;
}
.Empty_company_compare_three {
	position:relative;
	width: 35px;
	float: left;
}
.Empty_company_compare_three p {
	width: 33px;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #CBCBCB;
	background-color: #fff;
	background-position: 25px 14px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	color: #999;
	cursor: pointer;
}
.Empty_company_compare_three ul {
	border: 1px solid #CBCBCB;
	z-index: 8;
	border-top: medium none;
	position: absolute;
	display: none;
	background: #fff;
}
.Empty_company_compare_three ul li {
	width: 30px;
	padding-left: 10px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background: #fff;
	color: #999;
}
.Empty_company_compare_three ul li:hover {background: #dadada;}
.Empty_inputstyle_one {
	width: 115px;
	height: 30px;
	border: 1px solid #CBCBCB;
	border-left: medium none;
	float: left;
	line-height: 30px;
	padding-left: 10px;
}
.Empty_declare_communication_six {
	width: 500px;
	margin-left: 30px;
	margin-bottom: 20px;
	height: 68px;
}
.Empty_declare_communication_six span {
	font-size: 14px;
	color: #333;
	display: block;
	float: left;
	width: 120px;
	text-align: right;
}
.label_declare_two {
	width: 255px;
	height: 60px;
	padding:4px 10px;
	border: 1px solid #CBCBCB;
	float: left;
	line-height: 1.3;
	padding-left: 10px;
	font-size: 12px;
	color: #999;
	resize:none;
}
.label_botton_one {
	width: 146px;
	height: 36px;
	background: #0af;
	color: #fff;
	border-radius: 5px;
	margin: 0 0 30px 180px;
}
.bottom_brook_one {
	margin-right:68px;
	margin-left:52px;
	color: #999;
	line-height: 1.5;
}
.Empty_complain_daughter {
	width: 1200px;
	margin: 0 auto;
	height:288px;
	border: 1px solid #e0e0e0;
	margin-top:20px;
	margin-bottom:30px;
}
.Empty_complain_daughter p{padding:30px 0 47px;text-align:center;font-size:16px}
.trans-flow-txt{
	width: 632px;
	margin: 0 auto;
}
.trans-flow-txt li {
	float: left;
	width:61px;
	height:0;
	padding-top:71px;
	background:url(//img1.emkex.com/lu/cn/new/style/c_images/custom_trans_flow.png) no-repeat;
	color:#999;
}
.trans-flow-txt .i-1{background-position:0 -80px;color:#0af}
.trans-flow-txt .i-2{background-position:-71px 0}
.trans-flow-txt .i-3{background-position:-142px 0}
.trans-flow-txt .i-4{background-position:-213px 0}
.trans-flow-txt .i-5{background-position:-284px 0}
.trans-flow-txt .i-nav{width:33px;height:46px;margin:25px 10px 0;padding-top:0;background-position:-69px -80px}
.Empty_complain_daughter li span {
	display: block;
	margin-top:25px;
	text-align: center;
}
.Empty_complain_span_one span {
	margin-bottom:47px;
	color: #0af;
}
.Empty_complain_daughter .Empty_complain_span span {color: #999;}
.Empty_complain_daughter .Empty_complain_img {margin-top: 25px;}
.Empty_complain_span img{width:68px;height:75px}
.Empty_complain_img img{width:51px;height:25px}
.Empty_crime_criticism_crush {
	width: 1000px;
	margin: 0 auto;
	padding: 40px 0;
}
.Empty_crime_criticism_crush h3 {
	font-size: 26px;
	color: #333;
	text-align: center;
	padding-bottom: 20px;
}
.Empty_crime_criticism_crush .Empty_door_dose_left li a {
	color: #00A9FF;
	font-size: 18px;
	text-align: center;
	display: block;
}
.Empty_crime_criticism_crush .Empty_door_dose_left li { text-align:center;}
.Empty_crime_criticism_crush_two{width:1000px; margin:0 auto; padding-bottom:40px;}
.Empty_crime_criticism_crush_two h3{ font-size:22px; color:#333; text-align:center; line-height:136%; font-family: "Microsoft YaHei";}
.Empty_crime_criticism_crush_two h3 a{font-size:22px; color:#FF9900;}
.Empty_crime_criticism_crush_two p{width:290px; margin:0 auto;text-align:right; line-height:240%;}
.Empty_crime_criticism_crush_two p a{font-size:14px; color:#333;}

/*···································开始询盘弹出框↓······················*/

.Empty_crop_cushion_customer{width:506px; height:423px; background:#fff; border-radius:5px; padding-left:48px; display: none; }
.Empty_crop_cushion_customer p.Empty_crop_cushion_one{text-align:right; padding-top:10px; padding-right:20px;}
.Empty_crop_cushion_customer h4{ font-size:14px; color:#666;padding-top:10px;padding-bottom:40px;}
.Empty_crop_damage_one{width:360px; height:30px; margin-bottom:20px;}
.Empty_crop_damage_one span{width:57px; height:30px; line-height:30px; display:inline-block; float:left; font-size:14px; color:#666;text-align:right;}
.Empty_crop_declare_one{float:left;width:265px; height:30px; line-height:30px; border:1px solid #666; background:none; color:#666;font-family: "Microsoft YaHei"; font-size:14px;}
.Empty_crop_damage_two{padding-left:55px; padding-bottom:30px;}
.Empty_crop_damage_two p{color:#666; font-size:14px;}
.Empty_crop_damage_two p a{color:#f90; font-size:14px;}
.Empty_crop_declare_two{width:146px; height:36px; line-height:36px; color:#fff; 
 background:#0af; text-align:center; border-radius:3px;margin-left:55px;}
.Empty_crop_declare_three{width:146px; height:36px; line-height:36px;  color:#fff; 
background:#f90; text-align:center;border-radius:3px; margin-left:10px;}

