@charset "utf-8";
@import "custom.css";
@import "rare.css";
@import "buy_restyle.css";
@import url("/web/style/basic.css");
a, a:hover, a:link, a:visited {
	text-decoration: none;
}
img,input{border:0;font-family:'Microsoft YaHei','宋体';outline:none;}
a,.a{color:#333}
.bg-white{background:#fff}
.red{color:#f00}
.hidden,.hide{
display:none;
}
input,textarea{outline:0}
button, input, select, textarea {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
}
textarea{resize:none}
/*margin*/
.mt0{margin-top:0!important}
.mt40{margin-top:40px!important}
.mb0{margin-bottom:0!important}
.mb10{margin-bottom:10px!important}
.mb20{margin-bottom:20px!important}
.mb40{margin-bottom:40px!important}
/*round、shadow*/
.round{
	/*border:solid 1px transparent;#d6d5d5*/
	border:solid 1px #d6d5d5;
	-webkit-border-radius:7px;
	border-radius:7px;
	background-clip: padding-box;
}
.shadow{
	-webkit-box-shadow:3px 3px 7px rgba(7,2,3,0.18);
	box-shadow:3px 3px 7px rgba(7,2,3,0.18);
} 
/*特殊处理round*/
/*.r-7{
	-webkitborder-radius:7px 7px 0 0;
	border-radius:7px 7px 0 0;
}*/
/*通用箭头*/
.j-d-b{
	border:solid 4px #fff;
	border-top-width:8px;
	border-bottom-width:0;
}
.j-d{
	display:inline-block;
	width:0;
	height:0;
	border-left-color:transparent;
	border-right-color:transparent;
	margin-left:5px;
	vertical-align:middle;
}

/*common mask for (image with title)*/
.comm-title-mask{position:relative;}
.comm-title-mask span{position:absolute;
z-index:30;bottom:0;left:0;right:0;
    background: #000;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}
.comm-title-mask em{
	position:absolute;
	z-index:40;
	bottom:0;
	left:0;
	right:0;
	text-align:center;}
.comm-title-mask cite{display:block;text-align:center}
/*背景集合*/
.adv-txt i,.nav .active+i,
.app-icon-sm,.service-area i{
	background:url(http://img1.emkex.com/web/images/icon/mkt002.png) no-repeat;
}
/*新版首页box2*/
.mb40{
	background:#fff;
	border-bottom:solid 1px #6f2319;
	border-left:solid 1px #6f2319;
	border-right:solid 1px #6f2319;
	margin-bottom:30px;
}
.box2 .topic{
	float:right;
	width:88%;
	background-color:#fff;
	/*background:#f00;
	*background:none;*/
	height:40px;
	line-height:30px;
}
.box2 .dz-head span{
	font-size:16px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	border-left:#6f2319 solid 3px;
	padding-left:9px;
	margin-left:20px;
}
.box2 .dz-head{
	border-bottom:#d6d5d5 solid 1px;
	border-right:#d6d5d5 solid 1px;
}
.box2 .topic a{
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.box2 .topic a:hover{
	color:#ff7300;
}
/*宽度固定容器*/
.ctnr{
	width:1200px;
	margin:0 auto;
}
/*``````````````````top↓````````````````````````*/
.Empty_magnrt_beautiful {
	width:100%;
	min-width:1200px;
	background: #fff;
	/*height: 46px;*/
	-webkit-box-shadow:0 3px 7px rgba(7,2,3,0.18);
	box-shadow:0 3px 7px rgba(7,2,3,0.18);
}
.Empty_youthful_zeal {
	width: 100%;
	background: #C5C5C5;
	min-width: 1200px;
	-webkit-box-shadow:0 -4px 7px 0 rgba(7,2,3,0.18);
	box-shadow:0 -4px 7px 0 rgba(7,2,3,0.18);
	*box-shadow:0 -4px 6px 0 gray;
}
@media \0screen\,screen\9{
	.box2,.Empty_magnrt_beautiful{
		-webkit-box-shadow:0 2px 10px 0 gray;
	box-shadow:0 2px 10px 0 gray;
	}
	.Empty_youthful_zeal{
	-moz-box-shadow:-3px -4px 6px 1px gray;
	-webkit-box-shadow:-3px -4px 6px 1px gray;
	box-shadow:-3px -4px 6px 1px gray;
	}
}
.Empty_magnrt_because {
	margin: 0 auto;
	width:1200px;
}
.Empty_magnrt_because a{color:#353244}
.head-top{
	height:92px;
	margin-bottom:20px;}
.head-top-nav{
	margin-left:300px;
}
/*头部计算器登录注册*/
.head-top-tools,.head-top-tools a{
	color:#fff;
}
.head-top-tools a{
	display:inline-block;
	width:100%;
}
.head-top-tools>ul{margin-left:53px;height:49px;}
.head-top-tools>ul>li{
	float:left;
	height:45px;
	line-height:45px;
	border-top:solid 2px #782d10;
	border-bottom:solid 2px #782d10;
	text-align:center;
}
.head-top-tools .iconfont{
	display:inline-block;
	width:24px;
	margin-left:13px;
	color:#782d10;
	font-size:23px;
}
.head-log-input{overflow:hidden}
.head-log-input i,
.head-log-input input{
	float:left;
}

.head-top-tools input{width:180px;padding-top:15px;padding-bottom:15px;outline:0;}
.head-top-tools #userName1{
	border-right:solid 2px #782d10;
}
.head-lan{
	position:relative;
	z-index:11;
	width:141px;
	background-color:#782d10;
	cursor:pointer;
}

.head-lan:hover .language_list{display:block;left:0;}
.head-cat{
	width:143px;
	background-color:#a65839;
	cursor:pointer;
}
.head-login{
	width:52px;
	background-color:#c6623a;
	border-top:solid 2px #c6623a!important;
	border-bottom:solid 2px #c6623a!important;
	-webkit-user-select:none;
	cursor:pointer;
}
.head-reg{
	width:52px;
	background-color:#e07145;
	border-top:solid 2px #e07145!important;
	border-bottom:solid 2px #e07145!important;
	cursor:pointer;
}
/*结束*/
.head-top-nav .nav{padding-top: 11px;margin-bottom: 11px;font-size: 13px;text-align: right;}
.head-top-nav .nav a{color:#666}
.logo span{
	letter-spacing:13px;
	font-size:16px;
	color:#782d10;
	font-weight:700;
	white-space:nowrap}
.logo span em{font-weight:normal;}
.nav ul{overflow:hidden}
.nav li{
	float:left;
	width:148px;
	text-align:center;
	font-size:18px;
}
.nav i{
	display:block;
	width:95px;
	height:25px;
	margin:0 auto;
}
.nav .active+i{
	background-position:0 -50px;
}
.nav a:hover,.nav .active,.active{color:#ff7300;}
/*head2*/
.head2{margin-bottom:0;}
.head2 .logo{width:210px;margin-left:0;padding-top:32px}
.head2 .logo img{width:190px;}
.head2 .nav{margin-left:190px;}
.head2 .nav li{width:120px}
.head2 .nav li i{height:16px;}
.head2 .nav .active+i{background-position:0 -59px}
/*登录状态*/
.gn-nav{text-align:right;margin:0 44px 32px 0;color:#000}
.gn-nav a{color:#000}
.gn-nav .iconfont{font-size:17px}
.gn-name{margin:0 14px}
/*end*/
/*end*/
.main-body{background:#d6d5d5}

/*````````````````````top↑`````````````````````````*/
.Empty_magnrt_login_bottom {
	float:right;
	overflow: hidden;
	position:relative;
	width:242px;
}
.Empty_magnrt_login_bottom-undis {
	display: none;
}

.Empty_magnrt_login_bottom ul li {
	width: 242px;
	position: relative;
}
.password_accounts {
	background: #fff;
	width:150px;
	line-height: 270%;
	height: 32px;
	font-size: 12px;
	color: #999;
	overflow: hidden;
}

.Empty_accommodation_account_two-dis {
	display: none;
}
.Empty_accommodation_account_two-undis {
	display: block;
}
.Empty_background_ball {
	width: 100%;
	margin: 0 auto;
	min-width: 1000px;
    background:#E5E5E5 url(http://img1.emkex.com/lu/cn/new/style/images/magnet20151113.jpg) center no-repeat;
    height:408px;
}

.Empty_A5SSM_alternative_one {
	float:left;
	width:560px;
	padding-top:220px
}
.Empty_banana_bathroom {
	width: 100%;
	min-width: 1000px;
	background: #0af;
}
.Empty_alone_along_one {
	width:1000px;
	margin: 0 auto;
}
.Empty_alone_along_one span {
	display: block;
	float: left;
	color: #fff;
	font-size: 14px;
	width: 15%;
	line-height: 1.43;
}
.Empty_qimo8 {
	overflow: hidden;
	width: 85%;
	height:110px;
	float:left;
}
.Empty_qimo8 .Empty_qimo {
	width: 10000%;
	font-family: "Microsoft YaHei";
	font-size: 12px;
	color: #fff;
	padding: 0 10px;
	overflow:hidden;
	line-height: 30px;
	height: 110px;
}

.Empty_qimo8 .Empty_qimo div {
	float: left;
}
.Empty_qimo8 .Empty_qimo div a {
	margin: 0 10px;
	color:#fff;
}
.Empty_qimo8 .Empty_qimo ul {
	float: left;
	overflow: hidden;
	zoom: 1;
}
.Empty_battery_bruise {
	width: 1190px;
	margin:0 auto;
}
.top-aside{margin-bottom:30px;color:#353244;}
.top-aside-nav{position:relative;z-index:12;float:left;width:130px;height:484px;}
.top-aside-nav>dl{
	position:relative;
}
.top-aside-nav>dl> dt{
	height:87px;
	background:#fff;
	padding-top:75px;
	text-align:center;
}
.top-aside-nav>dt,.top-aside-nav .cur{
	background:#782d10;
	color:#fff;
}

.top-aside-nav>dl>dd{position:absolute;
visibility:hidden;/*display:none;*/
width:672px;
min-height:146px;
padding:8px 14px;
background:rgb(166,88,57);
background:rgba(166,88,57,0.9);
filter:alpha(opacity=90);
*filter:alpha(opacity=90);
opacity:0.1;
}
.top-aside-nav>dl:hover>dd{
	visibility:visible;	
	-webkit-opacity:0.9;
	opacity:0.9;
	-webkit-transition:opacity 1.2s;
	transition:opacity 1.2s;/**/
	/*display:block;*/
	top:0;
	left:130px;
}
.cxcl{height:146px!important;}
.mp{min-height:144px!important;max-height:144px!important;height:144px!important;overflow:hidden}
.subitems dl{margin-bottom:10px;color:#fff;overflow:hidden;}
.subitems dt{
	float:left;
	width:94px;
	padding-right:20px;
	text-align:right;
}
.subitems dd{
	margin-left:104px;
	text-align:left;
	overflow:hidden;
}
.subitems a{display:inline-block;margin-right:10px;white-space:nowrap;color:#fff;}
.subitems a:hover{background-color:#782d10;}
.top-aside .bar{
	position:relative;
	z-index:10;
	float:left;
	width:700px;
	height:484px;
}
.bar-itemlist img{width:100%;height:484px}
.top-aside-news{
	margin-left:851px;
	background:#fff;
	height:482px;
}
.top-aside-news dl:not(.app):hover img{
	opacity:0.8;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
	transition:all 0.2s
}
.top-aside-news dt{
	background:#e8e8e8;
	height:30px;
	line-height:30px;
	padding-left:43px;
}
.top-aside-news dd{padding:15px 18px 14px 10px;font-size:12px;}
.top-aside-news em{display:inline-block;width:160px;font-weight:700;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.top-aside-news img{float:left;width:124px;height:86px;margin-right:18px;}
.top-aside-news .hy{
	height: 50px;margin-top:6px;margin-bottom:4px;text-align: justify;overflow: hidden;
}
.top-aside-news .p{
	height:50px;
	margin-top:6px;
	margin-bottom:4px;
	text-align:justify;
	overflow:hidden;
}
.top-aside-news .m{*clear:both;margin-left:253px;}
.top-aside-news .app dd{padding:14px 0 0 15px;overflow:hidden}
.top-aside-news .app p{float:left;width:103px;height:96px;margin:0;padding:0 15px 0 25px;font-weight:700}
.top-aside-news .app em{
	width:100%;
} 
.top-aside-news .app-down{
	float:left;
	width:87px;
	height:87px;
	text-align:center;
}
.app-down img{
	width:83px;
	height:83px;
	margin-right:0;
}
.app-icon-sm{
	float:left;
	width:82px;
	height:114px;
	background-position:-18px -95px;
}
/*首页定制加工*/
.dzjg .topic{
	margin-bottom:14px
}
.dzjg .topic a{font-size:14px;margin:0 38px 0 33px}
.dzjg .topic a:hover,.top-aside-news a:hover{color:#782d10}
.dzjg-list{float:left;padding-left:43px;padding-bottom:14px;}
.dzjg-list .comm-title-mask{float:left;width:185px;height:245px;margin-right:30px;
/*border:solid 1px #d7d7d7;*/
border-radius:7px;
-webkit-box-shadow:0 0 8px 0px rgba(7,2,3,0.15);
box-shadow:0 0 8px 0px rgba(7,2,3,0.15);
}
.dzjg-list .comm-title-mask img{-webkit-border-radius:7px;border-radius:7px;}
.dzjg-list .comm-title-mask em{visibility:hidden;}
.dzjg-list .comm-title-mask em i{
	position:absolute;
	bottom:10px;
	left:50%;
	width:96px;
	height:30px;
	margin-left:-48px;
	line-height:30px;
	border:solid 1px #fff;
}
.dzjg-list .comm-title-mask em ul{
	text-align:center;
}
.dzjg-list .comm-title-mask span{
	height:0;
	background: none;
	border-radius:7px;
	-webkit-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
	}
 .dzjg-list .comm-title-mask a:hover span{
  top:0;
height:100%;
background:#4c4a4a;
opacity:0.6!important;
-moz-opacity:0.6!important;
filter:alpha(opacity=60)!important;
cursor:pointer;}
.dzjg-list .comm-title-mask a:hover em{
visibility:visible;
top:50%;
padding:0 10px;
height:102px;
margin-top:-51px;
color:#fff;
cursor:pointer;}
.dzjg-list .comm-title-mask cite{padding-top:22px}
/*首页稀土市场*/
.xt-price-today{
	margin-left:676px;/*height:300px;*/
}
/*展会预告*/
.expo-notice{
	float:left;width:427px;height:262px;padding:15px 43px 0;
}
.expo-header{
	position:relative;
	margin-bottom:20px;
	overflow:hidden;
}
.expo-header em{
	float:left;
	width:89px;
	height:34px;
	line-height:34px;
	background:#782d10;
	color:#fff;
	text-align:center;
}
.expo-header .line{
	position:absolute;
	top:17px;
	left:103px;
	right:0;
	border-top:solid 1px #d7d7d7;
}
.expo-page{
	position:relative;
	margin-left:10px;
	z-index:40;
}
.expo-page span{
	display:inline-block;
	font-size:12px;
}
.expo-page i{
	display:block;
	width:12px;
	height:12px;
	margin:10px 3px 0;
	border:solid 1px #000;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	background-color:#fff;
	cursor:pointer;
}
.expo-page .fill{color:#782d10;}
.expo-page .fill i{background-color:#782d10;}
.expo-notice ul li a{display:block}
.expo-notice ul span,
.expo-notice ul em{
	display:block;
	white-space:nowrap;
	margin-bottom:15px;
	color:#782d10;
	overflow:hidden;
	text-overflow:ellipsis;
}
.expo-notice a:hover em{text-decoration:underline}
.expo-notice ul span{margin-bottom:5px;color:#333;font-size:12px;}

.expo-notice .img{
	float:left;
	position:relative;
	width:202px;
	height:183px;
	max-width:202px;
	-webkit-box-shadow:0 0 8px 0px rgba(7,2,3,0.15);
	box-shadow:0 0 8px 0px rgba(7,2,3,0.15);
}
/*ie 678*/
@media \0screen\,screen\9{
	.shadow{
	-webkit-box-shadow:3px 3px 7px gray;
	box-shadow:3px 3px 7px gray;
	}
	.dzjg-list .comm-title-mask,.expo-notice .img{
	border:solid 1px #cbcbcb;
	-webkit-box-shadow:0 0 8px 0 #cbcbcb;
	box-shadow:0 0 8px 0 #cbcbcb;
	}
}
@media \0screen{
	.dzjg-list .comm-title-mask{
	box-shadow:none}
}
.expo-notice .img div a{
	width:100%;height:100%;vertical-align:middle;text-align:center
}
.expo-notice img{
	_width:200px;
	_height:185px;
	max-width:202px;
	max-height:185px;
	position:absolute;
	top:50%;
	left:50%;
}
.expo-notice ul{
	margin-left:219px;
}
.expo-notice .a-lnk{display:inline-block}
/*pricedynamics*/
.price-dynamics{
	margin-left:542px;height:277px;
}
.price-dynamics .topic{
	position:relative;
	*z-index:1;
}
.price-dynamics .ui-select-menu{
	position:absolute;
	top:0;
	right:0;
	width:100px; 
	margin-top:3px; 
	margin-right:10px; 
}
.price-dynamics .market-trend{
	width:99%;height:215px;margin:2px auto;overflow:hidden
}
.price-dynamics .menu-day{
	text-align:center;
}
.mag-box{float:left;width:492px;height:318px}
.mag-box .topic+div{
	padding:48px 43px 20px;overflow:hidden
}
.front-cover{float:left;text-align:center;}
.front-cover div{
	border:solid 1px #bfbfbf;
	padding:4px;
	margin-bottom:20px;
}
.front-cover img{
	width:138px;
	height:171px;
}
.mag-box dl{margin-left:170px}
.mag-box dd{
	line-height:34px
}
.mag-box dt{
	margin-bottom:10px;
}
.mag-box dt,
.mag-box dd a:hover{
	color:#782d10;
}
.biz-model{
	margin-left:521px;height:318px
}
.biz-model-pic{
    position: relative;
    width: 600px;
    *height: 248px;
    max-height:260px;
    padding-top:20px;
    margin:0 auto;
}
.biz-model-pic img{width:100%;max-height:260px}

.adv{height:339px;}
.adv .topic{margin-bottom:25px;}
.adv-txt{_height:340px;overflow:hidden;}
.adv-txt div{
	position:relative;
	float:left;
	width:570px;
	height:113px;
	margin-bottom:26px;
}
.adv-txt span{
	position:absolute;
	top:12px;
	left:60px;
	width:100px;
	height:100px;
	background-color:#eee;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.adv-txt i{
	display:block;
	width:50px;
	height:50px;
	margin:30px 36px 30px 28px;
}
.adv-txt .y{margin-top:33px;}
.adv-txt .f{background-position:-70px 0}
.adv-txt .s{background-position:-140px 0}
.adv-txt .t{margin-top:36px;background-position:-210px 0}
.adv-txt em{
	position:absolute;
	left:50%;
	margin-left:32px;
	font-size:18px;
}
.adv-txt p{
	position:absolute;
	top:30px;
	left:170px;
	margin-left:56px;
	width:231px;
	line-height:18px;
	font-size:13px;
}
.mat-pr-box{float:left;width:580px;height:429px;}
.mat-pr-box tbody td{height:57px;line-height:57px}
.mat-pr-box p{
	line-height:1.5
}
/*快速询盘form*/
.inquiry-box{height:353px;margin-left:804px;}
.inquiry-form{
	padding:15px 43px;
}
.inquiry-form p{
	margin-bottom:10px;
	_margin-bottom:8px
}
.inquiry-box textarea{
	width:292px;
	height:110px;
	padding:4px;
	margin-bottom:4px;
	border:solid 1px #0e0e0e;
	outline:0;
}
.inquiry-box input{
	width:184px;
	margin-left:14px;
	border-bottom:solid 1px #0e0e0e;
	outline:0;
}
.inquiry-form #ipt_cg{width:40px;margin:0 4px;text-align:center}
.inquiry-radio input{
	width:25px;
	border-bottom:none;
}
.inquiry-box button{
	width:160px;
	height:34px;
	line-height:34px;
	background-color:#0af;
	margin-top:20px;
	margin-left:72px;
	border:none;
	color:#fff;
}
.data-table{width:100%;}
.data-table th,
.data-table td{text-align:center}
.data-table th{
	height:54px;
	background:#f8f8f8;
	border-right:solid 1px #e8e8e8;
	font-weight:700;
	font-size:15px;
}
.data-table td{
	height:51px;
	line-height:51px;
}
.data-table tr:nth-child(odd){
	background-color:#f8f8f8;
}
.data-table tr:nth-child(even){
	background-color:#fff;
}
.data-table input{width:79px;height:30px;line-height:30px;background:#353244;color:#fff;}
.up{color:#f00}
.down{color:#6aec73}
.up,.down{display:block;width:10px;height:25px;margin:0 auto;text-align:center;}
.up i,.down b{
	display:block;
	width:0;
	height:0;
	border:solid 5px #f00;
	border-top-width:0;
	border-bottom-width:10px;
	border-left-color:transparent;
	border-right-color:transparent;
	_border-left-color:#fff;
	_border-right-color:#fff;
	margin:0 auto;
}
.down b{
	border-top-color:#6aec73;
	border-top-width:10px;
	border-bottom-width:0;
}
.up b,.down i{
	display:block;
	width:1px;
	height:13px;
	background-color:#f00;
	margin:0 auto;
}
.down i{
	background-color:#6aec73
}
/*磁材定制加工*/
.inner-box{
	padding:20px 0 20px 30px;
}
.xncs-info li{
	margin-bottom:20px;
}
.xncs-info i{
	display:inline-block;
	width:16px;
	height:16px;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin-right:10px;
	vertical-align:middle;
}
.xn-i-0{background-color:#45b1d7}
.xn-i-1{background-color:#5ac2e7}
.xn-i-2{background-color:#72cff0}
.xn-i-3{background-color:#96e3fd}
.xn-i-4{background-color:#9ee4fd}
.inquiry-contact-info{margin-bottom:14px;line-height:21px;}
.inquiry-section em{
	display:block;
	margin-bottom:20px;
	color:#000;
}
.prod-added-list{
	margin-left:21px
}
.prod-added-list .d2{padding-left:46px;position:relative}
.prod-added-list .format-size{position:relative;top:0;line-height:40px;*line-height:30px}
.prod-added-list .format-size i{top:-0.2em}
.inquiry-from-btn{
	margin-left:92px;
	margin-bottom:30px;
}
#secondInquiry{
	margin-left:92px;
}
.inquiry-from-btn .btn-hot{
	margin-right:60px
}
.inquiry-from-btn .btn{
	width:147px;
}
.captain_one {
	background: url(images/m_c2_e3.png) no-repeat;
	color: #999;
	padding-left: 15px;
	background-position: 0px 2px;
}
.captain_two {
	background: url(images/m_c2_e3.png) 0px -16px no-repeat;
	padding-left: 15px;
	margin-left:185px;
	color: #999;
}
.coop-media .captain_three {
	color: #E95704;
}
.coop-media a {
	color: #656565;
}
.coop-media .captain_four {
	color: #999;
}

.newprd-s1, .newprd-s1 a {
	z-index: 20;
}
.newprd-s2, .newprd-s2 a {
	z-index: 19
}
.Empty_capture_carbon {
	width:1000px;
	margin: 0px auto;
	text-align: center;
	padding-top: 3%;
}
.Empty_youthful_zebra {
	width:1000px;
	margin: 0 auto;
	padding: 25px 0 0 30px;
}
.Empty_youthful_zebra ul li.Empty_youthful_zebra_one {
	float: left;
	width:500px;
}
.Empty_youthful_zebra ul li.Empty_youthful_zebra_two {
	float: left;
	width: 479px;
	margin-top:24px;
	border-left: 1px solid #A7A7A7;
	padding-left: 20px;
}
.Empty_youthful_zebra_two p {
	margin-bottom: 2%;
}
.Empty_youthful_zebra_two p a {
	font-size: 12px;
	color: #656565;
	margin-right: 25px;
}
.Empty_youthful_zebra_two p .href_zebra_one {
	font-size: 14px;
	color: #333;
	width: 18%;
	display: inline-block;
}
.Empty_youthful_zebra_two p.href_zebra_two {
	background: url(http://img1.emkex.com/lu/cn/new/style/images/mr7_c6_90.jpg) no-repeat;
	padding: 5% 0;
	margin-bottom: 5%;
}
.Empty_youthful_zebra_two p.href_zebra_two span {
	display: block;
	margin-left: 120px;
	line-height: 1.8;
	color: #656565;
}
.href_zebra_three {
	float: right;
}
.href_zebra_five {
	color: #656565;
	font-size: 12px;
}
.Empty_zoo_yourself {
	background: #000;
	padding: 2% 0;
	min-width: 1190px;
}
.Empty_zoo_yourself p {
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 1.67;
}


.Empty_zebra_tddislike{width:242px; position:relative;float: right;overflow: hidden;}
.Empty_zebself_tddislike{ background:#000;filter:alpha(Opacity=40);-moz-opacity:0.4;opacity: 0.4;position: absolute;top: 0px;left: 0px; width: 100%; height: 100%;} 
.Empty_you_tddislike{background:#000;filter:alpha(Opacity=10);-moz-opacity:0.1;opacity: 0.1;position: absolute;top: 0px;left: 0px; width: 100%; height:92px;}
.zebra_yourself{ width:242px; height:312px;position:relative;}
.Empty_zebra_you{padding:17px;}
.zebra_yourself p{color:#fff; text-align:center;}

.navHover{background:#31B9FB url(images/de_mr21.png) no-repeat; background-position:210px 15px;filter:alpha(Opacity=70);
	-moz-opacity:0.7;opacity: 0.7;}
a.self_yout:hover{background:#FFA83F;}
/*中文版左侧通栏*/
/*dl*/
.sidebar-left-c dl{text-align:center;overflow:hidden}
.sidebar-left-c .s-a-d dt{text-align:left;margin-bottom:12px;}
.s-a-d dd{padding:4px 43px 28px;overflow:hidden}
.s-a-d .app-icon-sm{width:66px;height:136px;
	background:url(http://img1.emkex.com/web/images/icon/bg-app.jpg) no-repeat;
}
.s-a-d .app-down{
	float:left;
	margin-left:64px;
	padding-top:10px;
}
.s-a-d .scan-code-img{
	float:left;width:88px;height:88px;margin-right:44px
}
.s-a-d .app-down em{display:block;width:144px;font-size:13px}
.why-down-txt{
	float:left;width:80px;font-size:16px;padding-top:10px
}
.s-a-d .scan-code-txt{clear:both;padding-top:15px;padding-left:8px}
.sidebar{float:left;width:423px;margin-right:20px;}
.sidebar .xt-price-today{margin-left:0;height:auto}
.box{
	border:solid 1px #ccc;
	margin-bottom:20px}	
/*稀土市场*/
.chat-trend-title h2{
	float:left;
	height: 35px;
	line-height:35px;	
}
.rare-side-hq h2{
	height: 35px;
	line-height:35px;
    margin-bottom:40px;
    padding-left:8px;
	border-left: 7px solid #41AAF1;
	background: #f7f7f7;
	color:#1EABD5;   
}
.market-trend{
width:328px;
height: 200px;}
.r-s-topic{
    color:#333;
    margin-bottom:15px;
    font-size:18px;
    text-align:center;
}
.rare-side-hq dl{margin-bottom:20px}
.rare-side-hq dd{
	width:209px;
	padding-left:40px;
	line-height:30px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden}
.rare-side-hq a{color:#333;}
.market-main{background:#ebebeb;margin-left:454px;}
.market-main .comm-page{
	text-align:center
}
.mkt-list-page{
	background:#fff;padding-top:14px;padding-bottom:14px;
	border-radius:0 0 7px 7px;
}
.mkt-info dt,
.qs-info i,
.order-ok-icon,
.order-error-icon,
.icon-what{
	background:url(http://img1.emkex.com/web/images/icon/mkt001.png) no-repeat;
}
.mkt-info{height:85px}
.mkt-info dl{
	float:left;
	width:282px;
	padding:20px}
.mkt-info dt{
	width:68px;
	height:21px;
	line-height:21px;
	margin-bottom:6px;
	text-align:center;
	color:#fff}
.mkt-info  dd{white-space:nowrap}
.mkt-info .h-c{background-position:-75px 0}
.mkt-info em{
	display:inline-block;
	margin-right:28px;
	font-size:16px;
	font-weight:700;}
.market-main .head{
	padding-bottom:10px;
}
.market-main .search{
	position:relative;
	z-index:10;
	height:42px;
	padding-top:8px;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}

.mkt-nav-item{
	float:left;
	position:relative;
	text-align:center;
	cursor:pointer;}
.mkt-nav-item:hover .mkt-sch-menu{
	display:block;
}
.mkt-sch-nav{height:42px;}
.mkt-sch-nav i{
	display:inline-block;
	width:0;
	height:0;
	border:solid 4px #666;
	border-left-color:#fff;
	border-right-color:#fff;
	border-bottom-color:#fff;
	margin-left:12px;
	vertical-align:middle;
	}
.mkt-sch-nav .btn{
	margin-left:-4px;
	*margin-left:-5px;
	*padding:9px 12px 5px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}
.mkt-sch-nav input[type="text"]{
	width:255px;
	height:20px;
	padding:5px;
	outline:none;
	border:solid 1px #ccc;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;}
.mkt-sch-nav input[type="text"]:focus{
	border:solid 1px #00abfd;
	-webkit-box-shadow:0 0 1px #0af;
	box-shadow:0 0 1px #0af
}
.mkt-sch-menu{
	display:none;
	position:absolute;
	z-index:41;
	top:42px;
	border:solid 1px #dbdbdb;
	border-top:0;
	background:#fff;
}
.mkt-sch-menu ul{
	padding:10px 70px 10px 20px;
}
.mkt-sch-order{
	width:156px;
	padding:10px 2px;
	text-indent:2em;
	text-align:left;
}
.mkt-sch-cat li:hover,
.mkt-sch-order li:hover{background-color:rgb(224,113,69)}
.mkt-sch-menu .class2{
	position:absolute;
	display:none;
	z-index:38;
	top:0;
	left:216px;
	width:168px;
	padding:10px 2px;
	background:#fff;
	border:solid 1px #dbdbdb;
	border-top-color:#fff;
}
.class2 li{
	display:none;
	text-indent:2em;
}
.mkt-sch-menu .class2 li:hover{
	background-color:rgb(224, 113, 69)
}
.mkt-sch-menu .line{
	position:absolute;z-index:45;top:0;left:213px;width:4px;height:40px;background:#fff;
}
.mkt-sch-menu li{height:30px;line-height:30px}
.mkt-sch-menu a{color:#333;}
.rare-side-hq a:hover{
	color:#0af;
}
.mkt-sch-cat li{
	width:146px;
	padding:0 2px 0 67px;
}
.mkt-sch-menu .mkt-sch-cat{
	padding:10px 2px;
	border-left:0;
	}
.mkt-sch-order{left:0}
.qs-list{
	border:solid 1px #dbdbdb;
	border-top:none;
}
.qs-list .item{
	background:#fff;
	height:209px;
	margin-bottom:10px;
	border-bottom:solid 1px #dbdbdb;
}
.rare-name{
	height:26px;
	padding:8px 0;
	color:#000;
	font-size:20px;
}
.qs-detail{position:relative;
z-index:9;
	color:#666;
	/*overflow:hidden;*/
}
.qs-detail div{float:left}
.qs-list .qs-price{
	width:220px;
	height:172px;
	padding-top:36px;
	border-right:solid 1px #dbdbdb;
	color:#dd0100;
	font-size:30px;
	text-align:center;
}
.qs-list .qs-price i{display:block;font-size:14px;color:#666}
.mkt-tip{
	display:none;
	background:#fff;
	width:273px;
	font-size:12px;color:#999;
	text-align:left}
.qs-list .qs-price a:hover .mkt-tip{
	display:block;
position:absolute;top:-20px;left:32px;z-index:999;
border:solid 1px #ccc;padding:10px 0 10px 0}
.mkt-tip dt{margin-bottom:10px;padding-bottom:10px;padding-left:20px;border-bottom:dashed 1px #e5e5e5;color:#666;}
.mkt-tip dd{padding-left:20px;height:25px;line-height:25px;color:#999}
.qs-list .mkt-tip i{display:inline;color:#f90;}
.icon-what{
	position:relative;
	z-index:10;
	display:inline-block;
	width:20px;height:20px;
	margin-left:10px;
	background-position:-300px 0;
	*vertical-align:middle;
	cursor:pointer}
/*tip箭头*/
.mkt-tip .mkt-jt-o{
    position: absolute;
    top: 10px;
    left: -20px;
    width: 0;
    height: 0;
    padding-left: 0;
    border: solid 10px #ccc;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    }
.mkt-jt-o u{
	position: absolute;
    top: 0;
    margin-top: -18px;
    margin-left: -17px;
   width: 0;
    height: 0;
    border: solid 18px #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.qs-info{
	width:290px;
	padding:22px 15px 0 30px;
}
.qs-info p{width:239px;margin-bottom:10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.prog{
	width:226px;
	border-radius:5px;
	background:#e6e6e6;
	margin-bottom:8px;
	}
.prog div{
	height:10px;
	border-radius:5px;
	background:#54cb6a}
.qs-detail .cd span,
.qs-detail .jq span{
	display:inline-block;
	width:43px;
	height:20px;
	line-height:21px;
	letter-spacing:14px;
	white-space:nowrap;
	vertical-align:text-bottom;
	overflow:hidden;}
.qs-info i{
	display:inline-block;
	width:18px;
	height:18px;
	vertical-align:middle;
	}

.qs-info .corp-name i{background-position:-150px 0}
.qs-info .cd i{background-position:-175px 0}
.qs-info .jq i{background-position:-200px 0}
.qs-info .status{clear:both;position:relative;z-index:9;width:226px;}
.qs-info .status .lost{position:absolute;right:0}
.qs-pay-btn{
	width:176px;
	height:122px;
	padding:88px 0 0;
	border-left:solid 1px #dbdbdb;
	text-align:center;}
.qs-pay-btn p{cursor:pointer}
.qs-pay-btn .buy,
.qs-pay-btn span{
	display:inline-block;
	width:100px;
	height:34px;
	line-height:34px;
	margin:0 35px 10px;
	background:#00abfe;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#fff;
	font-size:16px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}
.mkt-input-box .btn{
	width:100px;
	margin:0 25px 10px 69px;
	background:#00abfe;
	color:#fff;
	font-size:16px;
}
.qs-pay-btn span{background:#e6e6e6;cursor:default}
.qs-pay-btn .ask{color:#666}
.mkt-input-box .btn-cancel{color:#333}
.mkt-input-box{
	display:none;
	height:355px;
	padding:45px 0 0 50px;
	margin:-10px auto 10px;
	background:#f7f7f7
}
.mkt-input-box div{margin-bottom:20px;}
.mkt-input-box input{
	height:28px;
	line-height:28px;
	padding-left:10px;
	border:solid 1px #ccc;
	color:#666;
	vertical-align:middle}
.mkt-input-box span{
	display: inline-block;
    width: 57px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 7px;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
}
.mkt-cg i{
	display:inline-block;
	width:28px;
	height:28px;
	line-height:28px;
	border:solid 1px #ccc;
	vertical-align:middle;
	text-align:center;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	cursor:pointer;}
.mkt-cg input{
	width:100px;
	border-left:0;border-right:0;outline:0;
	vertical-align:middle;text-align:center;}
.mkt-input-box .mkt-error{letter-spacing:0;color:red;overflow:visible}
.mkt-input-box textarea{
	width:403px;
	height:87px;
	padding:10px;
	border:solid 1px #ccc
}
/*稀土行情*/
.hq-news-list{
	float: left;
    width: 270px;
    margin-right: 95px;
}
.hq-news-list li{
	display:block;
	margin-top:20px;
	line-height:1.0;
	white-space: nowrap;
	text-align:center;
    overflow: hidden;
}
/*行情details*/
.NewsDetails2{
	padding: 20px 120px 20px 120px;
    width: 800px;
    background-color: #fff;
    margin: 0 auto;
    font-size: 16px;
}
.news-table{
border:1px solid rgb(221,221,221);
border-right-width:0;
}
.news-table p {line-height: 28px;}
.news-table td {padding-bottom: 10px;}
.news-table th,
.news-table td{
border-right:1px solid rgb(221,221,221);
}
.news-table .guige{width:410px}
/*新闻活动页*/
.news-container{
	
}
.w970{width:970px;margin:0 auto}
/*footer*/
.site{
	width:1000px;
	margin: 5px auto 30px; 
	line-height: 24px;
	font-size: 14px; text-align: center;
}
.site,
.site a{color:#fff}
.site a:hover{
	text-decoration:underline
}
.site .hr{margin:0 auto;
	width:600px;height:30px;border-bottom:solid 1px #fbf7f6;
}
.login-nav-txt li{padding:15px 0 15px 6px;}
.MUEN_Login_box .login-nav-txt a{font-size:14px}
.login-nav-txt li i{margin-right:8px;vertical-align:middle}
/*已添加产品信息*/
.prod-added-list{font-size:12px;line-height:1.8}
.prod-added-list li{
	position:relative;
	width:476px;
	padding:10px 10px 0;
	border:dotted 2px #bababa;
	border-radius:12px;
	margin-bottom:10px
}
.prod-added-list .del-cold,
.prod-added-list .set-handle{
	position:absolute;
	top:17px;
	left:-22px;
	cursor:pointer;
}
.prod-added-list .set-handle{
	top:38px;
}
.prod-added-list dl{overflow:hidden}
.prod-added-list dt{float:left;}
.prod-added-list dt:after{
	content:"："
}
.prod-added-list dd span{
	padding:0 5px;
}
.prod-added-list .gray{
	color:#858585;
}
/*百科*/
.btn-bk{/*display:none;*/position:relative;top:-2px;/* *top:2px; */padding:5px 8px;line-height:1;border:solid 1px #c5c5c5;border-radius:2px;outline:0;text-align:center;font-size:12px;color:#666;-webkit-user-select:none;user-select:none;cursor:pointer}
.btn-bk i{
	font-family:"emkexicon";
	/* display:inline-block; */
	margin-right:1px;
	line-height:1;
	color:#c6623a;
	font-size:16px;
}
.btn-bk:hover{
	border-color:#c6623a;
	background-color:#c6623a;
	color:#fff;
}
.btn-bk:hover i{color:#fff;}
.btn-bk-s{margin-bottom:20px;text-align:center}
.btn-bk-s button{margin:0 10px}
.i-helpful{
	position:relative;
	cursor:pointer;
}
.i-helpful i{position:relative}
.i-helpful .tip,
.i-helpful .tip-ed{
	position:absolute;
	display:none;
	top:0;
	*top:17px;
	left:24px;
}
.i-helpful .num{padding:0 25px 0 5px;}
.i-helpful:hover .tip-ed,
.i-helpful:hover .tip{display:none}
.i-ed:hover .tip-ed{display:block;}
.i-ed:hover .num{visibility:hidden}
.i-ed:hover i{visibility:visible}
.i-ed:hover .tip{display:inline}
/*APP 介绍下载 页面*/
.app-main{background:#f2f2f2;}
.app-main .a-t{padding:26px 0 26px 162px;overflow:hidden}
.app-main .a-t .btn{cursor:pointer}
.app-intro-left{position:relative;float:left;width:202px;height:400px;padding:60px 0 0 14px;background:url(http://img1.emkex.com/web/images/icons/app/bg-phone.png) no-repeat;text-align:center;overflow:hidden}
.app-intro-left img{float:left;width:190px;margin-right:16px}
.app-intro-right{margin-left:256px;}
.app-main .a-d-v{float:left;margin:0 auto;overflow:hidden;}
.app-main .adv-txt{margin-top:105px;font-size:40px;font-weight:bold;color:#333;}
.btn-app-down{
	display:inline-block;
	width:145px;
height:50px;
line-height:50px;
padding:0 20px;
margin-bottom:20px;
margin-left:0;
background:url(http://img1.emkex.com/web/images/icons/app/r-1.png) 134px no-repeat #0af;
border:solid 1px #0af;
-webkit-border-radius:4px;
border-radius:4px;
text-align:left;
font-size:26px;
color:#fff;
cursor:pointer;}
.btn-app-down,.app-version-icons li{position:relative;z-index:40}
.app-version-icons{width:568px;height:200px;}
.app-version-icons li{position:relative;float:left;width:100px;margin-right:40px;cursor:pointer;}
.app-version-icons li span{display:none;text-align:center}
.app-version-icons li span em{background:none!important}
.app-version-icons li i,.app-version-icons li i a{display:block;text-align:center}
.app-version-icons li div{display:inline-block;
width:67px;height:70px;
padding-top:30px;padding-left:33px;
background:#ccc;/*e5e5e5*/
-webkit-border-radius:10px;
-ms-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;}
.app-version-icons em{display:block;width:34px;height:40px;}
.ios-icon em,
.ard-icon em,
.wap-icon em,
.ios-break em,.app-version-icons li:hover em{background:url(http://img1.emkex.com/web/images/icons/app/app-version-icons.png) no-repeat;}
.ios-icon em{background-position:0 0}
.ard-icon em{background-position:0 -92px}
.wap-icon em{background-position:0 -182px}
.ios-break em{background-position:0 -280px}
.app-version-icons li div:hover span{position:absolute;display:block;left:0;top:-288px;
width:234px;height:270px;padding-top:15px;
background:url(http://img1.emkex.com/web/images/icons/app/rec1.png) no-repeat;z-index:40}
.app-version-icons li div:hover
{
	background:url(http://img1.emkex.com/web/images/icons/app/rec2.png) no-repeat;
}

	/*app页面鼠标移上去*/
.app-version-icons li:hover .ios-icon em{background-position:0 -370px}
.app-version-icons li:hover .ard-icon em{background-position:0 -465px}
.app-version-icons li:hover .wap-icon em{background-position:0 -553px}
.app-version-icons li:hover .ios-break em{background-position:0 -651px}

.app-version-icons li span em{display:block;width:100%;height:24px;color:#fff;text-align:center}
	/*版本公告*/
.app-version-news{width:380px;}
.app-version-news dt,.app-c-q dt{margin-bottom:10px;font-size:18px;color:#333}
.app-version-news dd{position:relative;height:30px;line-height:30px;}
.app-version-news dd a{color:#333;}
.app-version-news dd a:hover{color:#0af;text-decoration:underline}
.app-version-news em{color:red;}
.app-version-news .time{position:absolute;top:0;right:2px;color:#999;}
	/*app联系我们及渠道*/
	.app-contact{
		margin-bottom:40px;
		overflow:hidden;
	}
	.app-contact dd{float:left;font-size:18px}
	.app-contact span{margin-right:10px;font-size:20px;color:#999}
	.app-qudao dd{line-height:30px;overflow:hidden}
	.app-qudao span{float:left;}
	.app-qudao em{display:block;margin-left:68px;}
	/*日志或新闻*/
	.news-list{padding-top:40px;font-size:18px;}
	.news-list h1{height:54px;padding-left:20px;line-height:54px;background:#ccc;color:#333;font-weight:bold}
	.news-list dl{width:100%}
	.news-list dd{width:326px;white-space:nowrap;overflow:hidden}
	.app-version-news .v-topic{padding-bottom:20px;border-bottom:solid 1px #ccc;font-weight:bold}
		/*app版本公告详细*/
		.app-basic-info,.app-contact-info{line-height:30px}
		.app-info-detail h2{font-weight:bold;margin-bottom:20px}
		.app-basic-info{margin-bottom:30px}
		.app-info-detail .ol-3{overflow:hidden}
		.app-info-detail .ol-3 li{float:left;width:260px;margin-right:140px;margin-bottom:40px}
		.app-info-detail .ol-3 li:nth-child(3n){margin-right:0}
		.app-info-detail .ol-3 em{display:block;margin-bottom:20px;font-size:18px;text-align:center}
/*area*/
.service-area{position:relative;}
.service-area i{position:absolute;z-index:1;width:16px;height:25px;background-position:-142px -70px;cursor:pointer}
.service-area i:hover{z-index:2;
	background-position:-212px -70px
}
.service-area i:hover b{
	display:inline-block;
	top:-17px;
	left:-43%;
	visibility:visible;
	white-space:nowrap;
}
.service-area i b{position:absolute;visibility:hidden}
.rus-srv{top:190px;left:375px}
.korea-srv{top:217px;left:442px}
.us-srv{top:215px;left:125px}
.fra-srv{top:202px;left:259px}
.de-srv{top:198px;left:269px}
.vietnam-srv{top:253px;left:417px}
	/*字体size聚集*/
	.app-basic-info,.app-info-detail,.app-contact-info{font-size:14px}
	/*a其它样式(通用)*/
	.app-version-icons a,.app-contact a,.app-basic-info a,
	.app-contact-info a{text-decoration:underline}
	.app-contact-info a{color:#333;}
	.app-version-news .a,.app-contact-info a:hover{color:#0af}
	.a-lnk:hover{color:#0af;text-decoration:underline}
	/*other通用*/
	/*图标 删除、设置、附件*/
.del-cold,
.set-handle,
.att-icon{display:inline-block;width:13px;height:13px;background:url(http://img1.emkex.com/lu/cn/assets/icons/icon-1.0_03.png) no-repeat;background-position:-5px -2px}
.set-handle{background-position:-5px -22px}
.att-icon{
	width:18px;
	height:18px;
	background-position:-28px -2px;
	vertical-align:middle;
}
/*规格尺寸*/
.format-size{position:absolute}
.format-size span{padding:0!important}
.format-size i{position:relative;top:-0.5em;display:inline-block;padding:0 2px;text-align:left}
.format-size .sup{top:-1.25em;}
.format-size .sub{top:-0.25em;}
.format-size .sup,
.format-size .sub{
	display:block;
	line-height:1;
	font-weight:100;
}
.sch-empty{
	padding:100px 0 600px;color:#999;font-size:28px;text-align:center
}
.empty{position:relative}
.empty-info{
	position:absolute;
	top:50%;
	right:10px;
	bottom:0;
	left:10px;
	margin-top:-10px;
	font-size:22px;
	color:#999
}
.empty-info a{
	display:block;
	font-size:70%;
	color:#f99;
	text-decoration:underline;
}
.btn-lnk{background:#353244;padding:5px 20px;color:#fff;}
.btn-lnk:hover{background-color:rgba(53,50,68,0.9)}
	/*放假通知 
.holiday-notice{width:600px!important}
.layui-layer-ico{background:url(http://img1.emkex.com/web/images/icons/btn/btn-fdskj.png);}
.layui-layer-setwin .layui-layer-close2,
.layui-layer-setwin .layui-layer-close2:hover{
width:37px;
height:37px;
right:-35px;
top:-28px;
*right:-20px;
*top:-30px;
background-position:0}
/*结束*/
/*左右滚动箭头*/
.scroll-prev,
.scroll-next{
    position: absolute;
    top: 50%;
    color: #ccc;
    -webkit-user-select: none;
    user-select: none;
    font-size: 24px;
    cursor: pointer;
}
.scroll-prev{left:0;}
.scroll-next{right:0;}
/*中文版通用弹出层*/
.pop-head{
	height:56px;
	line-height:56px;
	background:#c6623a;color:#fff;
	text-align:center;
	font-size:20px;
}
.pop-com-icon .layui-layer-close2{
	background-position:-60px -195px;
}
/*弹出层 登录*/
.pop-login .pop-btn{
	display:block;
	background:#c6623a;
	height:45px;
	line-height:45px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#fff;
	-webkit-user-select:none;
	cursor:pointer;
	text-align:center;
	font-size:16px;
}
.pop-login .main .input{
	margin-bottom:10px;
	border:solid 1px #ccc;
	border-radius:7px;
}
.pop-login .main{
	margin:0 auto;
	text-align:center;
}
.pop-login .main h3{margin-bottom:26px;text-align:left}
.pop-login .main input{
	width:280px;
	padding:10px;
	height:16px;
	line-height:16px;
	outline:0;
	vertical-align:middle;
}
.pop-login .main i{
	display:inline-block;
	width:38px;
	height:38px;
	line-height:38px;
	background:#ddd;
	vertical-align:middle;
	text-align:center;
	color:#5f5f5f;
}
.pop-login .tip{overflow:hidden;height:36px;line-height:36px;font-size:12px}
.pop-login .tip a{color:#333}
.pop-login .tip a:hover,.btn-more:hover,.login-nav-txt li a:hover{
	color:#0af;
	text-decoration:underline
}
.tip-f{float:left}
.tip-reg{float:right}
/*弹出层订单*/
.order-ok-icon{
	width:65px;
	height:65px;
	margin:0 auto;
	background-position:-125px -24px
}
.order-error-icon{
	width:65px;
	height:65px;
	margin:0 auto;
	background-position:-199px -24px
}
.o-r-t{
	font-size:24px;
	margin:12px auto 18px;
}
.o-r-tip{
	font-size:16px;
	margin-bottom:40px;
}
.pop-login .btn-o-chk{width:95px;height:32px;line-height:32px;margin:0 auto}
.pop-other-tip{
	font-size:12px;line-height:48px;color:#666
}
/*验证码*/
.gt_holder{
	z-index:10002
}
.gt_holder .gt_widget .gt_bottom{
	background:url(http://img1.emkex.com/lu/cn/new/style/images/sprite.code-1.png) no-repeat;
	background-position:0 -56px;
}
/*验证提示*/
.vli-tip{position:absolute;left:0;top:0;display:none;
background-color:#fff;
padding: 3px 13px 3px 18px;
border:solid 1px #ccc;
box-shadow:0 4px 20px 1px rgba(0,0,0,0.2);
white-space:nowrap;color:#e64141}
.vli-tip .icon_warn{
	display:inline-block;
	width:16px;
	height:16px;
	background:url(//img1.emkex.com/web/images/icons/icons_9.png) no-repeat;
	vertical-align:middle;
}
.arrow_bor_b{position:absolute;height:14px;left:50%;bottom:-14px}
.vli-tip .S_line3,.vli-tip b{
	display: inline-block;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}
.S_line3 {
    border-color: #ccc transparent transparent transparent;
}
.vli-tip b{
	border-color: #fff transparent transparent transparent;
	margin: -1px 0 0 -14px;
}
/*通用select ui*/
.ui-select-menu{
	position:relative;
	z-index:10;
	font-weight:normal;
}
.ui-select-menu span{
	display:block;
	padding:0.4em 2.1em 0.4em 1em;
	line-height:1.4;
}
.ui-select-menu ul{
	display:none;
	position:absolute;
	top:25px;
	left:0;
	width:100%;
	background:#fff;
	border:solid 1px #aaa;
}
.ui-select-menu li{
	padding:3px 1em 3px .4em;
	line-height:21px;
}
.ui-select-menu li:hover{
	background:#dadada;
	border:solid #999;
	border-width:1px 0;
	cursor:pointer;
}
/*通用点状块导航*/
.hd{
	position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 0;
    margin-left: -28px;
    overflow: hidden;
    height: 30px;
    padding: 0 10px;
}   
.hd ul{overflow:hidden}
.hd li{float:left;width:12px;height:5px;margin-right:5px;background-color:#ccc;cursor:pointer}
.hd .on{background-color:#782d10}
/*通用placeholder*/
::-webkit-input-placeholder
{color:#c5c5c5 !important; }
::selection{background-color:#ff7300;}
/*按钮组*/
.btn{
	display:inline-block;
	padding:8px 12px;
	border-radius:4px;
	border:1px solid transparent;
	white-space:nowrap;
	line-height:1;
	font-size:14px;
	-webkit-user-select: none;
	user-select:none;
	text-align: center;
}

.btn-default{
	background-color:#0af;
	color:#fff;
}
.btn-hot{
	background-color:#ffa200;
	color:#fff;
}
.btn-hope{
	background-color:#1cbe8a;
	color:#fff;
}
.btn-warn{
	background-color:#ea1f1f;
	color:#fff;
}
.btn-fail{
    background-color:#727272;
    color:#fff;
}
.btn-default:hover{background-color:#0584C4}
.btn-hot:hover{background-color:#ed9702}
.btn-hope:hover{background-color:#0ea977}
.btn-warn:hover{background-color:#9b0a0a}
.btn-fail:hover{background-color:#333}

/*其它色块*/
.pink-default{background-color:#f458b4;}
.blue-dark{background-color: #69f}
.blue-light{background-color: #36c7e1}
.green-light{background-color: #3fd880}
.green-lighter{background-color:#3fd8a4 }
.purple-light{background-color: #bc71f1} /*浅紫色*/
.orange-block{background-color:orange}
.orange-dark{background-color:#ef9247}
.orange-light{background-color:#e8b62f}
.red-light{background-color: #ea4f3f}

.pink-default:hover{background-color:#ff3399;}
.blue-dark:hover{background-color: #36c}
.blue-light:hover{background-color: #099}
.green-light:hover{background-color: #396}
.green-lighter:hover{background-color:#096 }
.purple-light:hover{background-color: #93f} /*浅紫色*/
.orange-block:hover{background-color:orange}
.orange-dark:hover{background-color:#c63}
.orange-light:hover{background-color:#c90}
.red-light:hover{background-color: #c33}

/*link组(字体颜色，不涉及背景)*/
.lnk-default{color:#079cff}
.lnk-Melancholy{color:#03c}
.lnk-hope{color:#0ea977;}
.lnk-warn{color:#f94646!important;}
.lnk-hot{color:#ffa200;}
.lnk-em{color:#000!important;}
.lnk-duty{color:#782d10;}
.lnk-gray{color:gray;}

.btn-more{cursor:pointer;}
.btn-more i{
	display:inline-block;
}
/*input focus*/
.input-focus{
	color:#333!important;
}
/*--formula Start--*/
.formula{height:70px}
.formula li{height:70px;display:inline-block;position:relative;width:40px;vertical-align:middle}
.formula li{_display:inline;*display:inline}
.formula .input{height:40px;}
.formula  i{display:block;width:14px;text-align:center;vertical-align:middle}
.formula .symbol{width:14px;height:70px}
.formula .sbl-dan{height:30px}
.formula .unit{line-height:60px;}
.formula .unit i{width:60px;white-space:nowrap}
.formula input{width:38px;height:30px;line-height:30px;margin-bottom:1px;border:solid 1px #ccc;text-align:center;font-size:12px}
.formula  .gc{height:15px;line-height:15px}
/*--formula End--*/
.txt-right{text-align:right}
.txt-cen{text-align:center;}
/*自动完成color*/
.non-autocomp{color:#fff}
input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #333;
}
/*keyframe*/
.ui-focus{
animation:ui-focus-tip 0.5s 2 linear;
}
@keyframes ui-focus-tip{
	0%{
		background-color:#c6623a;
	}
	100%{background-color:rgba(198,98,58,0.4);
	}
}